{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      BookList ist eine simple Webanwendung, die es den Nutzern ermöglicht, Daten über Bücher zu Speichern. 
 </p>
    <p class="text"> 
        Die Besonderheit der Anwendung ist, dass sie für das Login-Feature für User, eine Passwort-Authentifizierung und eine Zero-Knowledge-Authentifizierung verfügt.
        Diese Anwendung wird zur Zero-Knowledge Demonstration für eine Bachelorarbeit implementiert.
    </p>
    <p class="box">
      <i class="fas fa-book-open fa-10x" style="color:rgba(184, 69, 243)"></i>
      <i class="fas fa-plus fa-6x" style="color:rgba(156, 146, 160)"></i>
      <i class="fas fa-database fa-10x" style="color:rgba(184, 69, 243)"></i>
      <i class="fas fa-plus fa-6x" style="color:rgb(156, 146, 160)"></i>
      <i class="fas fa-lock fa-10x" style="color:rgba(184, 69, 243)"></i>
    </p>
  </div>
</section>


