<form action="/dashboard/addbooklist" method="POST">
  <div class="field">
    <label class="label">B端cherlistenname</label> <input class="input" type="text" placeholder="Name der B端ckerliste" name="title">
  </div>
  <button class="button is-link" style="background-color: rgba(189, 68, 242)">B端cherliste Hinzuf端gen</button>
</form>