<nav class="navbar">
  <div class="navbar-brand">
    {{> booklist-brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="about" class="button" href="/about"> Über BookList </a>
          <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
          <a id="logout" class="button" href="/logout"> Abmelden </a>
        </div>
      </div>
    </div>
  </div>
</nav>